---
- hosts: web
  sudo: yes
  vars_files:
    - vars/main.yml
  tasks:
    - name: make any missing directories
      file: path="{{ settler_nginx_site_folder_root }}/{{ settler_nginx_site_public_folder }}" state=directory mode=0755
      tags:
        - index
    - name: add in the nginx index file
      template: src=templates/index.html dest=/var/www/html/public/index.html
      tags:
        - index

  roles:
    - { role: invokemedia.laravel-settler }